Repository auth0/docs, pull requests merged in 2020-10, with the labels that each got.

#9458 [SDK-732] Cleanup unused quickstart files
  articles/quickstart/spa/_includes/_authz_set_session.md
  articles/quickstart/spa/_includes/_authz_user_has_scopes.md
  articles/quickstart/spa/vuejs/_includes/_auth_service_method_description.md
  snippets/application-platforms/angular2/dependencies.md
  snippets/application-platforms/angular2/setup.md
  snippets/application-platforms/angular2/use.md
  snippets/application-platforms/angularjs/dependencies.md
  snippets/application-platforms/angularjs/setup.md
  snippets/application-platforms/angularjs/use.md
  snippets/application-platforms/aurelia/dependencies.md
  snippets/application-platforms/aurelia/setup.md
  snippets/application-platforms/aurelia/use.md
  snippets/application-platforms/emberjs/dependencies.md
  snippets/application-platforms/emberjs/setup.md
  snippets/application-platforms/emberjs/use.md
  snippets/application-platforms/jquery/dependencies.md
  snippets/application-platforms/jquery/setup.md
  snippets/application-platforms/jquery/use.md
  snippets/application-platforms/react/dependencies.md
  snippets/application-platforms/react/setup.md
  snippets/application-platforms/react/use.md
  snippets/application-platforms/socket-io/dependencies.md
  snippets/application-platforms/socket-io/setup.md
  snippets/application-platforms/socket-io/use.md
  snippets/application-platforms/vanillajs/dependencies.md
  snippets/application-platforms/vanillajs/setup.md
  snippets/application-platforms/vanillajs/use.md
  snippets/application-platforms/vuejs/dependencies.md
  snippets/application-platforms/vuejs/setup.md
  snippets/application-platforms/vuejs/use.md
Labels: medium, quickstart, ready-for-review

#9465 [SDK-1955] Remove references to Auth0.OpenIdConnectSigningKeyResolver
  articles/quickstart/backend/webapi-owin/01-authorization.md
  articles/quickstart/backend/webapi-owin/index.yml
Labels: quickstart, ready-for-review

#9469 [SDK-1812] Inclusive language updates
  articles/_includes/_callback_url.md
  articles/_includes/_logout_url.md
  articles/_includes/_web_origins.md
Labels: quickstart, ready-for-review, small

#9468 [SDK-1979] Include imports in code examples for Spring 5 API Quickstart
  articles/quickstart/backend/java-spring-security5/01-authorization.md
Labels: quickstart, tiny

#9470 Add CORS configuration to Spring Security Quickstart
  articles/quickstart/backend/java-spring-security5/01-authorization.md
Labels: quickstart, tiny

#9439 Fixed code samples OIDC connections
  articles/connections/enterprise/oidc.md
Labels: ready-for-review

#9459 Update add-siwa-to-native-app.md
  articles/connections/nativesocial/add-siwa-to-native-app.md
Labels: ready-for-review

#9472 Improved docs for Rails quickstart
  articles/quickstart/webapp/rails/01-login.md
Labels: quickstart, ready-for-review, small

#9478 Angular QS updates
  articles/quickstart/spa/angular/01-login.md
Labels: in-review, quickstart, tiny

#9474 [SDK-1988] Update ASPNET Core 2.1 MVC Quickstart
  articles/quickstart/webapp/_includes/_create_and_assign_roles.md
  articles/quickstart/webapp/aspnet-core-3/02-user-profile.md
  articles/quickstart/webapp/aspnet-core-3/03-authorization.md
  articles/quickstart/webapp/aspnet-core-3/_includes/_login.md
  articles/quickstart/webapp/aspnet-core/02-user-profile.md
  articles/quickstart/webapp/aspnet-core/03-authorization.md
  articles/quickstart/webapp/aspnet-core/_includes/_login.md
  articles/quickstart/webapp/aspnet-core/_includes/_setup.md
  articles/quickstart/webapp/aspnet-owin/03-authorization.md
Labels: quickstart, ready-for-review

#9477 Rails Web App Quickstart updates
  articles/quickstart/webapp/rails/01-login.md
Labels: quickstart, ready-for-review, small

#9456 Update code samples for Passwordless authenticate user endpoint
  articles/api/authentication/_passwordless.md
Labels: ready-for-review

#9436 Take Express QS out of beta
  articles/quickstart/webapp/express/index.yml
Labels: quickstart

#9485 Add new error code for ro
  articles/api/authentication/errors/_oauth-ro.md
Labels: ready-for-review

#9492 Add missing HasScopeHandler registration
  articles/quickstart/backend/aspnet-core-webapi/01-authorization.md
Labels: quickstart, ready-for-review, tiny

#9488 Added QS installation instructions for SPM [SDK-2015]
  articles/quickstart/native/_includes/_ios_dependency_centralized.md
  articles/quickstart/native/ios-swift/_includes/_prerequisite.md
  articles/quickstart/native/ios-swift/index.yml
  snippets/native-platforms/ios-facebook-login/facebook-install-auth0-sdk.md
Labels: do-not-merge, quickstart, small

#9487 Added installation instructions for SPM [SDK-2016]
  articles/libraries/auth0-swift/index.md
Labels: do-not-merge, small

#9493 Fix broken link path - Remove Dashboard Users (Beta)
  config/sidebar.yml
Labels: ready-for-review

#9494 Config changes for Actions Beta launch
  config/cards.yml
  config/sidebar.yml
Labels: ready-for-review

#9496 SDK-2103 Bump suggested Laravel version to 8.0 from 6.0
  articles/quickstart/backend/laravel/index.yml
  articles/quickstart/webapp/laravel/01-login.md
  articles/quickstart/webapp/laravel/index.yml
Labels: quickstart

#9497 Improved clarity of Swift snippets
  articles/libraries/auth0-swift/index.md
  articles/libraries/auth0-swift/save-and-refresh-jwt-tokens.md
  articles/libraries/auth0-swift/touchid-authentication.md
  articles/quickstart/native/_includes/_ios_dependency_centralized.md
  articles/quickstart/native/ios-swift/03-user-sessions.md
  articles/quickstart/native/ios-swift/04-calling-apis.md
  articles/quickstart/native/ios-swift/08-touch-id-authentication.md
  articles/quickstart/native/ios-swift/_includes/_login_centralized.md
  snippets/native-platforms/ios-facebook-login/facebook-install-auth0-sdk.md
  snippets/native-platforms/ios-swift/use.md
Labels: quickstart, small

#9498 Laravel Quickstart: Address getUserByDecodedJWT() typo
  articles/quickstart/webapp/laravel/01-login.md
Labels: quickstart, ready-for-review, tiny

#9499 Make changes to redirects/sidebar for removed legacy rate limits file
  config/redirects.js
  config/sidebar.yml
Labels: ready-for-review
