Repository auth0/docs, pull requests merged in 2021-08, with the labels that each got.

#9835 Add Reference to use Webview2 with WPF and Winforms
  articles/quickstart/native/wpf-winforms/01-login.md
Labels: quickstart, small

#9726 [SDK-2511] Add QuickStart for ASP.NET MVC Beta SDK
  articles/_includes/_new_app.md
  articles/quickstart/webapp/_includes/_create_and_assign_roles.md
  articles/quickstart/webapp/_includes/_getting_started.md
  articles/quickstart/webapp/aspnet-core-2/01-login.md
  articles/quickstart/webapp/aspnet-core-beta/01-login.md
  articles/quickstart/webapp/aspnet-core-beta/download.md
  articles/quickstart/webapp/aspnet-core-beta/index.yml
  articles/quickstart/webapp/aspnet-core/01-login.md
  articles/quickstart/webapp/aspnet-owin/01-login.md
Labels: quickstart

#9837 Update GitHub path for ASP.NET MVC Beta Quickstart
  articles/quickstart/webapp/aspnet-core-beta/01-login.md
Labels: quickstart, tiny

#9839 Update redirects.js to fix broken links in new nav from Contentful
  config/redirects.js
Labels: ready-for-review

#9842 Add missing callbackUri definition to Ionic-Angular quickstart
  articles/quickstart/native/ionic-angular/01-login.md
Labels: quickstart, tiny

#9841 Fixed domain string replacement for React Native quickstart
  articles/quickstart/native/react-native/00-login.md
Labels: quickstart, small

#9843 Contentful nav redirect fixes
  config/redirects.js
Labels: ready-for-review

#9855 Add note about Link linter warning to Next.js QS
  articles/quickstart/webapp/nextjs/01-login.md
Labels: quickstart

#9858 Fix note panel in Next.js QS
  articles/quickstart/webapp/nextjs/01-login.md
Labels: quickstart, tiny

#9745 Fix template typo in user profile
  articles/quickstart/webapp/java-spring-boot/01-login.md
Labels: quickstart

#9864 Fix note in Auth0.swift SDK
  articles/quickstart/native/ios-swift/_includes/_login_centralized.md
Labels: quickstart

#9865 Fix minor typo in React Native QS
  articles/quickstart/native/react-native/00-login.md
Labels: quickstart

#9845 Contentful Navigation new redirects
  articles/connections/enterprise/azuread-adfs-email-verification.md
  articles/connections/enterprise/index.md
  articles/connections/legal.md
  articles/connections/passwordless/authentication-factors/email-magic-link.md
  articles/connections/passwordless/authentication-factors/email-otp.md
  articles/connections/passwordless/authentication-factors/index.md
  articles/connections/passwordless/authentication-factors/sms-otp.md
  articles/connections/passwordless/embedded-login/index.md
  articles/connections/passwordless/embedded-login/native.md
  articles/connections/passwordless/embedded-login/relevant-api-endpoints.md
  articles/connections/passwordless/embedded-login/spa.md
  articles/connections/passwordless/embedded-login/webapps.md
  articles/connections/social/apple-native.md
  articles/connections/social/facebook-native.md
  articles/connections/social/index.md
  config/redirects.js
Labels: ready-for-review

#9866 SAML Configuration redirects
  config/redirects.js
Labels: ready-for-review
