Repository auth0/docs, pull requests merged in 2021-01, with the labels that each got.

#9558 Removes unclear language and clarifies document use
  articles/connections/database/custom-db/templates/create.md
Labels: ready-for-review

#9562 Add notice to Go API Quickstart for 3rd Party Vulnerability
  articles/quickstart/backend/golang/01-authorization.md
Labels: quickstart, small

#9566 [SPA Quickstarts] Update auth0-spa-js CDN URL
  config/vars.yml
Labels: dependencies, quickstart, tiny

#9541 [SDK-2133] Android SDK Beta Quickstart
  articles/quickstart/native/android-vnext/00-login.md
  articles/quickstart/native/android-vnext/download.md
  articles/quickstart/native/android-vnext/index.yml
Labels: do-not-merge, medium, quickstart

#9569 Update enterprise connections with login exp tab
  articles/connections/enterprise/_login-experience-tab.md
  articles/connections/enterprise/active-directory-ldap.md
  articles/connections/enterprise/azure-active-directory/v2/index.md
  articles/connections/enterprise/google-apps.md
  articles/connections/enterprise/oidc.md
  articles/connections/enterprise/ping-federate.md
  articles/connections/enterprise/saml.md
Labels: do-not-merge

#9557 Added Next.js QuickStart [SDK-2233]
  articles/_includes/_callback_url.md
  articles/_includes/_logout_url.md
  articles/_includes/_new_app.md
  articles/quickstart/native/_includes/_ios_config.md
  articles/quickstart/native/android/_includes/_credentials.md
  articles/quickstart/webapp/_includes/_auth_note_dev_keys.md
  articles/quickstart/webapp/_includes/_getting_started.md
  articles/quickstart/webapp/nextjs/01-login.md
  articles/quickstart/webapp/nextjs/download.md
  articles/quickstart/webapp/nextjs/index.yml
Labels: do-not-merge, medium, quickstart

#9580 [SDK-2245] Android Quickstart: reading and writing user metadata
  articles/quickstart/native/android-vnext/00-login.md
  articles/quickstart/native/android-vnext/01-user-metadata.md
  articles/quickstart/native/android-vnext/index.yml
Labels: do-not-merge, medium, quickstart

#9586 Specify beta version dependency [SDK-2245]
  articles/quickstart/native/android-vnext/00-login.md
Labels: quickstart

#9587 Remove note about gradle plus sign
  articles/quickstart/native/android-vnext/00-login.md
Labels: quickstart

#9588 Update android-vnext requirements
  articles/quickstart/native/android-vnext/00-login.md
Labels: quickstart, small

#9589 Update the login screenshot in the Android vNext quickstart
  media/articles/native-platforms/android/login-android.png
Labels: quickstart, tiny

#9554 Make it clear that Auth0 uses Twilio for SMS by default
  articles/connections/passwordless/_includes/_introduction-sms.md
Labels: ready-for-review

#9561 Add note about returned claims being static
  articles/connections/enterprise/azure-active-directory/v2/index.md
Labels: ready-for-review

#9583 Update 01-login.md
  articles/quickstart/native/ionic4/01-login.md
Labels: quickstart

#9535 Removed problematic sentences.
  articles/architecture-scenarios/spa-api/part-1.md
Labels: do-not-merge

#9584 Add nav for OIDC Adoption
  config/sidebar.yml
Labels: ready-for-review
