Repository auth0/docs, pull requests merged in 2022-01, with the labels that each got.

#9959 Add beta Auth0.swift v2 Quickstart [SDK-3034]
  articles/quickstart/native/swift-beta/01-login.md
  articles/quickstart/native/swift-beta/download.md
  articles/quickstart/native/swift-beta/index.yml
Labels: quickstart, large

#9963 Improve the download instructions of the beta Swift QS
  articles/quickstart/native/swift-beta/01-login.md
  articles/quickstart/native/swift-beta/download.md
Labels: quickstart, tiny

#9962 Extra redirects
  config/redirects.js
Labels: ready-for-review

#9966 Remove dup redirect
  config/redirects.js
Labels: ready-for-review

#9964 [SDK-2987] Updated ULP image
  media/quickstarts/universal-login.png
Labels: quickstart

#9968 Add tenant hostname migration redirect
  config/redirects.js
Labels: do-not-merge

#9973 Replace custom URL Scheme instructions
  articles/quickstart/native/swift-beta/01-login.md
Labels: quickstart, tiny

#9945 Update Auth0 SPA SDK install content
  articles/quickstart/spa/_includes/_install_auth0-spa-js.md
Labels: quickstart, small

#9974 Fix typo in beta Swift Quickstart
  articles/quickstart/native/swift-beta/01-login.md
Labels: quickstart, tiny

#9975 Update redirects.js
  config/redirects.js
Labels: do-not-merge

#9977 Add a notice about the Auth0.swift beta release to current QS
  articles/quickstart/native/ios-swift/_includes/_login_centralized.md
Labels: quickstart, tiny

#9981 Fix typo in Swift Quickstart snippet
  articles/quickstart/native/swift-beta/01-login.md
Labels: quickstart, tiny

#9982 Remove extra character in XML snippet in beta Swift Quickstart
  articles/quickstart/native/swift-beta/01-login.md
Labels: quickstart, tiny

#9988 Make installation instructions in the beta Swift Quickstart a bit less verbose
  articles/quickstart/native/swift-beta/01-login.md
Labels: quickstart

#9991 [SDK-3086] - Update interactive React quickstart content
  articles/quickstart/spa/react/interactive.md
Labels: quickstart

#9992 Add redirects for slug changes on Action pages
  config/redirects.js
Labels: do-not-merge
