Repository auth0/docs, pull requests merged in 2022-06, with the labels that each got.

#10066 [SDK-3215] Added configuring auth0 credentials section
  articles/quickstart/webapp/aspnet-owin/interactive.md
Labels: quickstart, medium

#10076 [SDK-3279] Add Django Web App interactive QuickStart
  articles/quickstart/webapp/django/files/index.md
  articles/quickstart/webapp/django/files/settings.md
  articles/quickstart/webapp/django/files/urls.md
  articles/quickstart/webapp/django/files/views.md
  articles/quickstart/webapp/django/index.yml
  articles/quickstart/webapp/django/interactive.md
Labels: quickstart, medium

#10063 [SDK-3278] Content changes to JavaScript Quickstart
  articles/quickstart/spa/vanillajs/interactive.md
Labels: quickstart, medium

#10061 [SDK-3277] Content changes to Angular Quickstart
  articles/quickstart/spa/angular/interactive.md
Labels: quickstart, medium

#10062 [SDK-3274] Content changes to ASP.NET Core Wep API Quickstart
  articles/quickstart/backend/aspnet-core-webapi/interactive.md
Labels: quickstart, medium

#10078 [SDK-3296] Added interactive Android Quickstart
  articles/quickstart/native/android/files/build.md
  articles/quickstart/native/android/files/main.md
  articles/quickstart/native/android/files/strings.md
  articles/quickstart/native/android/index.yml
  articles/quickstart/native/android/interactive.md
Labels: quickstart, medium

#10101 [SDK-3331] Spring boot Webapp QS migration
  articles/quickstart/webapp/java-spring-boot/files/application.md
  articles/quickstart/webapp/java-spring-boot/files/home-controller.md
  articles/quickstart/webapp/java-spring-boot/files/index.md
  articles/quickstart/webapp/java-spring-boot/files/logout-handler.md
  articles/quickstart/webapp/java-spring-boot/files/security-config-logout.md
  articles/quickstart/webapp/java-spring-boot/files/security-config.md
  articles/quickstart/webapp/java-spring-boot/index.yml
  articles/quickstart/webapp/java-spring-boot/interactive.md
Labels: quickstart, medium

#10081 Add Ionic (React) & Capacitor interactive quickstart
  articles/quickstart/native/_includes/ionic/_add_login_intro.md
  articles/quickstart/native/_includes/ionic/_add_logout_intro.md
  articles/quickstart/native/_includes/ionic/_configure_urls.md
  articles/quickstart/native/_includes/ionic/_configure_urls_interactive.md
  articles/quickstart/native/_includes/ionic/_handle_callback_intro.md
  articles/quickstart/native/_includes/ionic/_note_custom_schemes.md
  articles/quickstart/native/_includes/ionic/_note_storage.md
  articles/quickstart/native/ionic-react/files/app.md
  articles/quickstart/native/ionic-react/files/index.md
  articles/quickstart/native/ionic-react/files/login-button.md
  articles/quickstart/native/ionic-react/files/logout-button.md
  articles/quickstart/native/ionic-react/files/user-profile.md
  articles/quickstart/native/ionic-react/index.yml
  articles/quickstart/native/ionic-react/interactive.md
Labels: quickstart, medium

#10102 iOS swift QS Login Review
  articles/quickstart/native/ios-swift/interactive.md
Labels: quickstart

#10087 [SDK-3295] Add Spring Interactive Quickstart
  articles/quickstart/backend/_includes/_api_endpoints.md
  articles/quickstart/backend/java-spring-security5/files/api-controller.md
  articles/quickstart/backend/java-spring-security5/files/application.md
  articles/quickstart/backend/java-spring-security5/files/audience-validator.md
  articles/quickstart/backend/java-spring-security5/files/message.md
  articles/quickstart/backend/java-spring-security5/files/security-config.md
  articles/quickstart/backend/java-spring-security5/index.yml
  articles/quickstart/backend/java-spring-security5/interactive.md
Labels: quickstart, medium

#10105 fix: Laravel QS' Composer `create-project` command points to obsolete branch
  articles/quickstart/backend/laravel/01-authorization.md
  articles/quickstart/backend/laravel/interactive.md
  articles/quickstart/webapp/laravel/01-login.md
  articles/quickstart/webapp/laravel/interactive.md
Labels: tiny
