Repository auth0/docs, pull requests merged in 2022-04, with the labels that each got.

#10042 [SDK-3236] Update Django 'Regular Web App' Quickstart
  articles/quickstart/webapp/django/01-login.md
  articles/quickstart/webapp/django/index.yml
Labels: medium

#10044 Fix typos in PHP API quickstart
  articles/quickstart/backend/php/01-authorization.md
Labels: tiny

#10045 Update custom URL scheme instructions in the Swift QS
  articles/quickstart/native/ios-swift/01-login.md
Labels: quickstart, tiny

#10048 [SDK-3266] Adapt PHP Login QS to interactive format
  articles/quickstart/webapp/php/files/callback.php
  articles/quickstart/webapp/php/files/index.php
  articles/quickstart/webapp/php/files/login.php
  articles/quickstart/webapp/php/files/logout.php
  articles/quickstart/webapp/php/files/profile.php
  articles/quickstart/webapp/php/files/router.php
  articles/quickstart/webapp/php/index.yml
  articles/quickstart/webapp/php/interactive.md
Labels: medium

#10050 Improve the dynamic API route instructions of the Next.js SDK QS
  articles/quickstart/webapp/nextjs/01-login.md
Labels: quickstart

#9904 Remove .html suffix on react-native docs link
  articles/quickstart/native/react-native/00-login.md
Labels: quickstart
