Repository auth0/docs, pull requests merged in 2022-03, with the labels that each got.

#10014 [SDK-3142] Add Vanilla JavaScript interactive quickstart
  articles/quickstart/spa/vanillajs/files/app.md
  articles/quickstart/spa/vanillajs/index.yml
  articles/quickstart/spa/vanillajs/interactive.md
  config/vars.yml
Labels: ready-for-review, quickstart, medium

#10009 Use Implicit with FormPost in ASP.NET OWIN
  articles/quickstart/webapp/aspnet-owin/_includes/_login.md
Labels: quickstart

#10012 rebased feat/interactive branch
  articles/quickstart/spa/react/files/app.md
  articles/quickstart/spa/react/files/index.md
  articles/quickstart/spa/react/files/login.md
  articles/quickstart/spa/react/files/logout.md
  articles/quickstart/spa/react/files/profile.md
  articles/quickstart/spa/react/index.yml
  articles/quickstart/spa/react/interactive.md
  articles/quickstart/webapp/aspnet-core/files/account.controller.md
  articles/quickstart/webapp/aspnet-core/files/appsettings.md
  articles/quickstart/webapp/aspnet-core/files/startup.md
  articles/quickstart/webapp/aspnet-core/index.yml
  articles/quickstart/webapp/aspnet-core/interactive.md
Labels: do-not-merge

#10019 Add redirects for Professional Services and MFA Provider Hook nav moves
  config/redirects.js
Labels: do-not-merge, ready-for-review

#10016 [SDK-3140] Add interactive Ruby webapp quickstart
  articles/quickstart/webapp/rails/files/concern.md
  articles/quickstart/webapp/rails/files/config.md
  articles/quickstart/webapp/rails/files/controller.md
  articles/quickstart/webapp/rails/files/initializer.md
  articles/quickstart/webapp/rails/files/routes.md
  articles/quickstart/webapp/rails/index.yml
  articles/quickstart/webapp/rails/interactive.md
Labels: quickstart, medium

#10017 [SDK-3136] Add interactive ASPNET Core Web API Quickstart
  articles/quickstart/backend/aspnet-core-webapi/files/api-controller.md
  articles/quickstart/backend/aspnet-core-webapi/files/appsettings.md
  articles/quickstart/backend/aspnet-core-webapi/files/configure-middleware.md
  articles/quickstart/backend/aspnet-core-webapi/files/has-scope-handler.md
  articles/quickstart/backend/aspnet-core-webapi/files/has-scope-requirement.md
  articles/quickstart/backend/aspnet-core-webapi/index.yml
  articles/quickstart/backend/aspnet-core-webapi/interactive.md
Labels: quickstart, medium

#10020 Fix mistakes in the ASP.NET Core Web App QS
  articles/quickstart/webapp/aspnet-core/01-login.md
  articles/quickstart/webapp/aspnet-core/files/account.controller.md
  articles/quickstart/webapp/aspnet-core/interactive.md
Labels: quickstart, tiny

#10026 Fix redirect
  config/redirects.js
Labels: ready-for-review

#10028 Add arch scenarios redirect
  config/redirects.js
Labels: ready-for-review

#10029 Correct punctuation and rephrase for clarity
  articles/quickstart/native/swift-beta/01-login.md
Labels: quickstart

#10027 [SDK-3194] Replace Vue QS with new version using our SDK
  articles/quickstart/spa/vuejs-beta/01-login.md
  articles/quickstart/spa/vuejs-beta/02-calling-an-api.md
  articles/quickstart/spa/vuejs-beta/_includes/_centralized_login.md
  articles/quickstart/spa/vuejs-beta/download.md
  articles/quickstart/spa/vuejs-beta/index.yml
  articles/quickstart/spa/vuejs/01-login.md
  articles/quickstart/spa/vuejs/02-calling-an-api.md
  articles/quickstart/spa/vuejs/_includes/_centralized_login.md
  articles/quickstart/spa/vuejs/index.yml
Labels: quickstart, medium

#10030 Update iOS QuickStart for Auth0.swift v2
  articles/quickstart/native/ios-swift-facebook-login/00-login-facebook.md
  articles/quickstart/native/ios-swift-facebook-login/download.md
  articles/quickstart/native/ios-swift-facebook-login/index.yml
  articles/quickstart/native/ios-swift-siwa/00-login-siwa.md
  articles/quickstart/native/ios-swift-siwa/_includes/_login_centralized.md
  articles/quickstart/native/ios-swift-siwa/download.md
  articles/quickstart/native/ios-swift-siwa/index.yml
  articles/quickstart/native/ios-swift/00-login.md
  articles/quickstart/native/ios-swift/01-embedded-login.md
  articles/quickstart/native/ios-swift/01-login.md
  articles/quickstart/native/ios-swift/02-custom-login-form.md
  articles/quickstart/native/ios-swift/03-user-sessions.md
  articles/quickstart/native/ios-swift/04-calling-apis.md
  articles/quickstart/native/ios-swift/05-authorization.md
  articles/quickstart/native/ios-swift/07-linking-accounts.md
  articles/quickstart/native/ios-swift/08-touch-id-authentication.md
  articles/quickstart/native/ios-swift/_includes/_config.md
  articles/quickstart/native/ios-swift/_includes/_dependency_embedded.md
  articles/quickstart/native/ios-swift/_includes/_login_centralized.md
  articles/quickstart/native/ios-swift/_includes/_login_embedded.md
  articles/quickstart/native/ios-swift/_includes/_prerequisite.md
  articles/quickstart/native/ios-swift/_includes/_product_bundle_note.md
  articles/quickstart/native/ios-swift/download.md
  articles/quickstart/native/ios-swift/getting-started.md
  articles/quickstart/native/ios-swift/index.yml
  articles/quickstart/native/swift-beta/download.md
  articles/quickstart/native/swift-beta/index.yml
  config/redirects.js
Labels: large

#10031 Move note panel above screenshot
  articles/quickstart/native/ios-swift/01-login.md
Labels: quickstart

#10033 New Python API QS migrated to new design
  articles/quickstart/backend/_includes/_call_api.md
  articles/quickstart/backend/python/files/server.md
  articles/quickstart/backend/python/files/validator.md
  articles/quickstart/backend/python/index.yml
  articles/quickstart/backend/python/interactive.md
Labels: medium

#10039 Typo fix for Python QS
  articles/quickstart/webapp/python/01-login.md
Labels: tiny

#10040 Update Swift Quickstart instructions
  articles/quickstart/native/ios-swift/01-login.md
  articles/quickstart/native/ios-swift/download.md
Labels: quickstart

#10037 [SDK-3177] Add new Django API QuickStart
  articles/quickstart/backend/_includes/_api_scopes_access_resources.md
  articles/quickstart/backend/_includes/_call_api.md
  articles/quickstart/backend/django/files/urls.md
  articles/quickstart/backend/django/files/validator.md
  articles/quickstart/backend/django/files/views.md
  articles/quickstart/backend/django/index.yml
  articles/quickstart/backend/django/interactive.md
Labels: medium
