Repository auth0/docs, pull requests merged in 2022-11, with the labels that each got.

#10161 Update `AppDelegate` extension in RN Quickstarts
  articles/quickstart/native/react-native/00-login.md
  articles/quickstart/native/react-native/interactive.md
Labels: quickstart

#10162 [Django] Fix link to sample in interactive mode
  articles/quickstart/webapp/django/interactive.md
Labels: quickstart

#10166 Add `download.md` to Flutter QS
  articles/quickstart/native/flutter/download.md
Labels: quickstart

#10167 Update the Swift Quickstarts
  articles/quickstart/native/ios-swift/01-login.md
  articles/quickstart/native/ios-swift/download.md
  articles/quickstart/native/ios-swift/interactive.md
Labels: quickstart

#10178 fix: Typo in Laravel's `vendor:publish` command during install
  articles/quickstart/backend/laravel/01-authorization.md
  articles/quickstart/backend/laravel/interactive.md
  articles/quickstart/webapp/laravel/01-login.md
  articles/quickstart/webapp/laravel/interactive.md
Labels: ready-for-review, quickstart, tiny

#10182 expand snippet around login for non-interactive Flutter QS
  articles/quickstart/native/flutter/01-login.md
Labels: ready-for-review, quickstart, small
