Repository auth0/docs, pull requests merged in 2022-05, with the labels that each got.

#10064 Mention support for .NET 6.0 in ASP.NET Core Web App quickstart
  articles/quickstart/webapp/aspnet-core/index.yml
Labels: quickstart

#10069 Added Configure Auth0 common quickstart step
  articles/quickstart/_includes/_configure_auth0_interactive.md
Labels: quickstart, small

#10082 Clarify groups endpoint description
  articles/api/authorization-extension/_users.md
Labels: tiny

#9840 Add missing semicolon to ASP.NET QuickStarts
  articles/quickstart/webapp/aspnet-core/01-login.md
Labels: quickstart, tiny

#10084 Add interactive Quickstart for iOS and macOS [SDK-3299]
  articles/quickstart/native/ios-swift/01-login.md
  articles/quickstart/native/ios-swift/files/Auth0.md
  articles/quickstart/native/ios-swift/files/ContentView.md
  articles/quickstart/native/ios-swift/files/ProfileView.md
  articles/quickstart/native/ios-swift/files/User.md
  articles/quickstart/native/ios-swift/index.yml
  articles/quickstart/native/ios-swift/interactive.md
  media/articles/native-platforms/ios-swift/url-scheme.png
Labels: quickstart, large

#10089 Apply word lists to Swift quickstart
  articles/quickstart/native/ios-swift/interactive.md
Labels: quickstart, tiny

#10088 [SDK-3331] Migrate java webapp QS to interactive
  articles/quickstart/webapp/java/files/authentication-controller-provider.md
  articles/quickstart/webapp/java/files/callback-servlet.md
  articles/quickstart/webapp/java/files/home-servlet.md
  articles/quickstart/webapp/java/files/login-servlet.md
  articles/quickstart/webapp/java/files/logout-servlet.md
  articles/quickstart/webapp/java/files/web.md
  articles/quickstart/webapp/java/index.yml
  articles/quickstart/webapp/java/interactive.md
Labels: quickstart, medium

#10092 Compress PNG used in Swift Quickstart
  media/articles/native-platforms/ios-swift/url-scheme.png
Labels: quickstart

#10083 [SDK-3280] Add Go Web App Interactive QuickStart
  articles/quickstart/webapp/golang/files/auth.md
  articles/quickstart/webapp/golang/files/callback.md
  articles/quickstart/webapp/golang/files/env.md
  articles/quickstart/webapp/golang/files/go-mod.md
  articles/quickstart/webapp/golang/files/isAuthenticated.md
  articles/quickstart/webapp/golang/files/login.md
  articles/quickstart/webapp/golang/files/logout.md
  articles/quickstart/webapp/golang/files/main.md
  articles/quickstart/webapp/golang/files/router.md
  articles/quickstart/webapp/golang/files/user.md
  articles/quickstart/webapp/golang/index.yml
  articles/quickstart/webapp/golang/interactive.md
Labels: quickstart, medium

#10073 [SDK-3285] Add Python Web App Interactive QuickStart
  articles/quickstart/webapp/python/files/home.md
  articles/quickstart/webapp/python/files/server.md
  articles/quickstart/webapp/python/index.yml
  articles/quickstart/webapp/python/interactive.md
Labels: quickstart, medium

#10090 [SDK-3283] Add interactive QuickStart for Laravel Web App
  articles/quickstart/webapp/laravel/files/auth.md
  articles/quickstart/webapp/laravel/files/env.md
  articles/quickstart/webapp/laravel/files/template.md
  articles/quickstart/webapp/laravel/files/web.md
  articles/quickstart/webapp/laravel/index.yml
  articles/quickstart/webapp/laravel/interactive.md
Labels: quickstart, medium

#10074 [SDK-3286] Add Vue SPA Interactive QuickStart
  articles/quickstart/spa/vuejs/files/index.md
  articles/quickstart/spa/vuejs/files/login.md
  articles/quickstart/spa/vuejs/files/logout.md
  articles/quickstart/spa/vuejs/files/profile.md
  articles/quickstart/spa/vuejs/index.yml
  articles/quickstart/spa/vuejs/interactive.md
Labels: quickstart, medium

#10075 [SDK-3137] Add ASPNET Owin Api Interactive QuickStart
  articles/quickstart/backend/webapi-owin/files/api-controller.md
  articles/quickstart/backend/webapi-owin/files/openid-connect-signing-key-resolver.md
  articles/quickstart/backend/webapi-owin/files/scope-authorize-attribute.md
  articles/quickstart/backend/webapi-owin/files/startup.md
  articles/quickstart/backend/webapi-owin/index.yml
  articles/quickstart/backend/webapi-owin/interactive.md
Labels: quickstart, medium

#10079 [SDK-3138] Add Rails API interactive QuickStart
  articles/quickstart/backend/rails/files/json_web_token.md
  articles/quickstart/backend/rails/files/private.md
  articles/quickstart/backend/rails/files/public.md
  articles/quickstart/backend/rails/files/secured.md
  articles/quickstart/backend/rails/index.yml
  articles/quickstart/backend/rails/interactive.md
Labels: quickstart, medium

#10094 Rename file in Swift interactive QS to match sample app
  articles/quickstart/native/ios-swift/files/MainView.md
  articles/quickstart/native/ios-swift/interactive.md
Labels: quickstart

#10056 [SDK-3292] Adapt PHP API QS to interactive format
  articles/quickstart/backend/php/files/index.md
  articles/quickstart/backend/php/files/router.md
  articles/quickstart/backend/php/index.yml
  articles/quickstart/backend/php/interactive.md
Labels: quickstart, medium

#10055 [SDK-3284] Adapt PHP Login QS to interactive format
  articles/quickstart/webapp/php/files/callback.md
  articles/quickstart/webapp/php/files/index.md
  articles/quickstart/webapp/php/files/login.md
  articles/quickstart/webapp/php/files/logout.md
  articles/quickstart/webapp/php/files/profile.md
  articles/quickstart/webapp/php/files/router.md
  articles/quickstart/webapp/php/index.yml
  articles/quickstart/webapp/php/interactive.md
Labels: quickstart, medium

#10068 [SDK-3276] Content changes to the Ruby on Rails quickstart
  articles/quickstart/webapp/rails/interactive.md
Labels: quickstart, medium
